*{margin: 0;padding: 0; box-sizing: border-box;}
ul{list-style-type: none}
a{text-decoration: none;color: white;}

:root{
  --light:#C2FEF6;
  --dark:#111716;
  --highlight:#4493f8;
}

@font-face {
  font-family: 'megafont';
  src: url(../font/Megafont.ttf) format('truetype');
}

@font-face {
  font-family: 'stray';
  src: url(../font/stray.ttf) format('truetype');
}

@font-face {
  font-family: 'orbitron';
  src: url(../font/Orbitron-Black.ttf) format('truetype');
  src: url(../font/Orbitron-Bold.ttf) format('truetype');
  src: url(../font/Orbitron-Medium.ttf) format('truetype');
  src: url(../font/Orbitron-Regular.ttf) format('truetype');
}

body{
  background-color: var(--dark) !important;
  color: var(--light) !important;
  font-family: 'orbitron';
  position: relative;
}

header{
  grid-area: navbar;
  position: sticky;
  top: 0;
}

aside{
  grid-area: sidebar;
  position: sticky;
  top: 64px;
  align-self: start;
}

main{
  grid-area: main;
  width: 100%;
}

footer{
  grid-area: footer;
}

.project-grid{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "navbar navbar" "sidebar main" "sidebar footer";
}

.font-1{
  font-family: 'megafont' !important;
}

.font-2{
  font-family: 'orbitron' !important;
}

.font-3{
  font-family: 'stray' !important;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mynavbar{
  background-color: rgba(0, 0, 0,0.2);
}

.mynavbar a{
  padding: 16px 20px;
  border-radius: 4px;
}
.jumper{
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-left: 45px;
  padding-left: 1px;
  transition: transform 0.5s ease;
}
.jumper::before{
  content: '';
  background-color: white;
  width: 15px;
  height: 1px;
  position: absolute;
  left: -15px;
  top: 10px;
  transition: width 0.5s ease, left 0.5s ease;
}

.jumper-trigger{
  
}

.jumper-trigger:hover{
  .jumper::before{
    width: 35px;
    left: -35px;
  }
  .jumper{
    transform: translateX(20px);
  }
}

.clickable{
  cursor: pointer;
}

.gallery-photo{
  display: grid;
  grid-template-columns: minmax(0,1fr);
  grid-template-rows: minmax(0,1fr);
}

.gallery-photo img{
  padding: 16px;
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

.frame-photo-text{
  position: relative;
}

.frame-photo-text img:hover{
  opacity: 0.4;
}

.frame-photo-text img{
  z-index: 1;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.frame-photo-text div{
  position: absolute;
}

.project h2{
  margin-top: 35px;
}

p{
  max-width: 50ch;
}

.link{
  color: var(--highlight) !important;
  text-decoration: underline;
}

.link::after{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: ' \f0c1';
}